 <section id="about" class="container text-center my-5">
      <h2 class="display-3 font-weight-bold my-4">Acerca de CheckPoint</h2>
      <br>
      <div class="row">
        <div class="col-md-4">
          <h1><i class="fas fa-shopping-cart"></i></h1>
          <h3 class="my-3">Compra Personalizada</h3>
          <p class="my-3">Los nuevos tiempos generaron un crecimiento exponecial en el sector de tecnología además de dificíl situación económica generó para todos, las grandes tiendas 
          incumplian con sus productos y tiempos de entrega, CheckPoint nacio hace más de un año con el obejtivo de cubrir una pequeña parte de esa necesidad </p>
        </div>
        <div class="col-md-4">
          <h1><i class="fas fa-arrow-up"></i></h1>
          <h3 class="my-3">Crecer Juntos</h3>
          <p class="my-3">Nuestros primeros clientes quienes prefirieron nuestro emprendimiento por sobre tiendas,
          esto nos llevo a pensar que tambien queriamos ayudar ¿Pero, que podemos hacer? Se nos ocurre la idea de colaborar para niños, personas, adultos mayores
          que no tienen como pagar una computadora para estos tiempos que exigen esta herramienta, lamentablemente no podemos comprar y donar pero pensamos y si podemos regalar el servicio de reparación
          ya que algunos dispositivos viejos pueden funcionar esos que la gente ya no usa en estos tiempos un notebook sencillo con acceso a internet es una oportunidad cambiar y aprender 
          (cursos gratis, tutoriales, oficios etc).</p>
        </div>
        <div class="col-md-4">
          <h1><i class="fas fa-heart"></i></h1>
          <h3 class="my-3">Conecta y ayuda</h3>
          <p class="my-3">Sabemos que nos estamos solos en el mundo del emprendimiento todos nos quieren ayudar con un granito de arena, tenemos que conectarnos con todas estas personas y hacer en cojunto pequeños grandes cambios, ese el reto que nos propusimos
          conecta y ayuda esperando que afuturo surgan nuevas ideas de parte de nuestra y los futuros parthers</p>
        </div>
      </div>
    </section>