<h1 class="title-category">Categories</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <div class="container-category">
          <div class="circle-category">
            <div>
              <% if category.photo.attached? %>
                <%= image_tag category.photo%>
              <% end %>
            </div>
      
        </div>
            <div class="name-category"><%= link_to "#{category.name}", products_path %></div>
        <% end %>

      </tr>
    
  </tbody>
</table>