<footer class="footer " >
 <div>
      <%= image_tag("logo-gris.png", :alt => "logo", class:"logo-footer")%>
  </div>
  <div class="container text-white">
    <br>
    <div class="row">
      <div class="col-12 col-md-4 col-lg-2">
        <h4>Facebook</h4>
        <p><i class="fab fa-facebook"></i> @checkpoint <a href="Log in Facebook"></a></p>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <h4 id="contacto">Contacto</h4>
        <p>Ñuñoa</p>
        <p>Direccion: Vicuña Makena - Santiago<br> Tel&eacute;fonos:+56944444442
          <br> eMail:checkpoint@gmail.com
        </p>
      </div>
    </div>
  </div>
</footer>