<div class="form1">
  <%= form_tag products_path, method: :get do %>
    <div class="form-group">
      <%= text_field_tag :sku, params[:sku], class: "form-control", placeholder: "sku" %>
    </div>
    <!--<div class="form-group">
      <%= select_tag :category_id, options_from_collection_for_select(Category.all, "id", "name", params[:category_id]), prompt: "Categoría", class: "form-control" %>
    </div>-->
    <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md btn-search" %>
  <% end %>
</div>