/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require_self
 */

@import "bootstrap";

.navbar{
    background-color:#3e3d3d !important;
    height: 71px;
} 
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
    color: #22eab2;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-expand-lg .navbar-collapse {
    margin-left: 54%;
}

.form1 > form{
    display: flex;
}
.form-control{
    border-radius: 14px;
}
.form-group {
    margin-bottom: 0rem;
}
.btn-search{
    margin-left: 10px;
    background-color: #22eab2;
    color: black;
    border-radius: 7px;
}
.btn-primary {
    border-color: #22eab2 !important;
}
.btn-search:hover{
    background-color: #22eab2;
}
.cards{
    margin-bottom: 13px;
}
.container-row{
    background-color: #fff;
    padding: 67px;
    margin: 2%;
}
.sale, .title-category{
    text-align: center;
    font-size: 50px;
    margin-bottom: 45px;
    font-weight: 600;
    font-family: initial;
}
body{
    background-color: #f7f2f2;
}
.tittle-carousel{
    position: absolute;
    z-index: 10;
    left: 70px;
    width: 33%;
    top: 36%;
}
.tittle-carousel > h1{
    font-size: 60px;
    font-weight: 600;
}
.container-category{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
.circle-category{
    display: inline-block;
    background-color: #f7f2f2;
    padding: 45px 40px;
    border-radius: 100px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1),0 2px 12px 0 rgba(0,0,0,.2);
    margin-bottom: 10px;
}

.img-category{
    font-size: 25px;
    height: 114px;
    width: 127px;
    display: inline-block;
}
.category-index{
    background-color: #fff;
    padding: 67px;
    margin: 2%;
}